body {
    /*pointer-events: none;*/
}
html {
}

.charImg {
    -webkit-user-select:none;
    -webkit-app-region:drag;
    top:0;
    left:0;
    cursor:move;
}

#Mascot {
    width: 95;
    height: 170;
}

.charBary {
    position: absolute;
    cursor:move;
    top:0;
    left:0;
    width:100px;
    height:150px;
    background-color:rgba(0,0,0,0);
}
