.charImg {
    top:0;
    left:0;
    -webkit-app-region: drag;
}

#option {
    left:30px;
    top:150px;
    position: absolute;
}

#option .text {
    -webkit-user-select: none;
}

.clockpos {
    width: 50px;
    height:15px;
}

#clock {
    top:100px;
    height:50px;
    width: 100px;
    position: absolute;
    background: #aaaaaa;
    border-radius: 10px;
}

#clock:hover {
    opacity: 0.7;
}

#clock .date {
    -webkit-user-select: none;
    font-size: 9pt;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 6px;
}

#clock .time {
    -webkit-user-select: none;
    font-size: 14pt;
    margin-top: 2px;
    text-align: center;
}

.box {
    position: absolute;
    background: #fff;
    height: 20px;
    width: 20px;
    padding: 5px;
    border: 1px solid;
}

.box:before,.box:after{
    content: '';
    position:absolute;
    display:block;
}

.box.top:after {
    top: -9px;
    left: 5px;
    border-bottom: 10px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.box.top:before{
    top: -10px;
    left: 5px;
    border-bottom: 10px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.box.bottom:after {
    bottom: -9px;
    left: 5px;
    border-top: 10px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.box.bottom:before {
    bottom: -8px;
    left: 5px;
    border-top: 10px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.box.left:after {
    top: 10px;
    left: -9px;
    border-top: 5px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 5px solid transparent;
}

.box.left:before {
    top: 10px;
    left: -10px;
    border-top: 5px solid transparent;
    border-right: 10px solid #000;
    border-bottom: 5px solid transparent;
}

.box.right:after {
    top: 10px;
    right: -9px;
    border-top: 5px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 5px solid transparent;
}

.box.right:before {
    top: 10px;
    right: -8px;
    border-top: 5px solid transparent;
    border-left: 10px solid #000;
    border-bottom: 5px solid transparent;
}